body {
  background: rgb(0, 0, 0);
  font-family:  'Hind', sans-serif;
  color: aliceblue;
}

div {
  display: flex;
}

#heading {
  justify-content: center;
}

#btn-container {
  margin-top: 3%;
  margin-bottom: 3%;
  justify-content: space-around;
}

button {
  font-family: inherit;
  color: rgb(0, 0, 0);
  background-color: rgb(168, 168, 168);
  width: 130px;
  height: 60px;
  border-width: 3px;
  border-color: white;
  border-radius: 30px;
  font-size: 30px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.15);
  box-shadow: -1px 1px 15px 7px rgb(255, 200, 18)
}
button:focus {
  outline: none;
}
#gdParent {
  justify-content: center;
}

#gameData {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

input, button, submit {border: none;}